// colors
$white                  : #FFFFFF;
$black                  : #000;
$red                    : #D13028;
$gray                   : gray;
$blue                   : #00aaff;
// transition
$fast                   : .2s;
$normal                 : .5s;


// breakpoints
$screen-bg-max          : 1919px;
$screen-md-max          : 1600px;
$screen-mac-max         : 1300px;
$screen-sm-max          : 799px;
$screen-small           : 374px;
$screen-ipad-pro        : 1023px;
$screen-bg-min          : 1920px;

